html {
  scroll-behavior: smooth;
  touch-action: manipulation;
}

body {
  font-family: "Laro", sans-serif;
  font-weight: 300;
  color: $color-base;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
